*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
#tittle{
color: #fff;
font: 1em sans-serif;
font-size: large;
background-color: rgba(122, 205, 215, 0.71);
display: flex;
justify-content: space-between;
flex-direction: row;
}
#btnAction button{
    width: 20px;
    height: 20px;
}
#minimizeBtn{
    background-image: url("Icons/minimize.png");
    background-size: contain;
}
#maximizeBtn{
    background-image: url("Icons/maximixe.png");
    background-size: contain;
}
#closeBtn{
    background-image: url("Icons/close.png");
    background-size: contain;
}

